.btn {

    &__app img {

        height: 50px;
        width: auto;
        margin-right: 10px;

    }

    &:link, &:visited {

        display: inline-block;
        padding: 10px 30px;
        font-weight: 300;
        text-decoration: none;
        border-radius: 200px;
        transition: background-color 0.2s, border 0.2s, color 0.2s;

    }

    &--orange:link, &--orange:visited {

        background-color: $mainOrange;
        border: 1px solid $mainOrange;
        color: #fff;
        margin-right: 15px;

    }

    &--orange-outline:link, &--orange-outline:visited {

        border: 1px solid $mainOrange;
        color: $mainOrange;

    }

    &:hover, &:active {

        background-color: $darkOrange;

    }

    &--orange:hover, &--orange:active {

        border: 1px solid $darkOrange;

    }

    &--orange-outline:hover, &--orange-outline:active {

        border: 1px solid $darkOrange;
        color: #fff;

    }

}