.cities {

    &__photo {

        width: 100%;
        margin-bottom: 20px;

        & img {

            width: 100%;
            height: auto;

        }

    }

    &__info {

        & div {

            display: inline-block;
            float: left;

        }

    }

}