.cities {

    &__photo {

        & img {

            width: 100%;
            height: auto;
            margin-bottom: 15px;

        }

    }

    &__info {

        margin-bottom: 5px;
        text-align: center;

        @mixin atLarge {

            text-align: left;

        }

        & a:link, & a:visited {

            text-decoration: none;
            color: $mainOrange;
            padding-bottom: 1px;
            border-bottom: 1px solid $mainOrange;
            transition: border-bottom 0.2s, color 0.2s;

        }

        & a:hover, & a:active {

            color: #555;
            border-bottom: 1px solid transparent;

        }

        &--hide-on-small {

            display: none;

            @mixin atLarge {

                display: initial;

            }

        }

    }

}

