.how-it-works {

    &__box {

        &:first-child {

            text-align: center;
            margin-top: 30px;

            @mixin atMedium {

                text-align: right;
                padding-right: 3%;

            }

        }

        &:last-child {

            margin-top: 35px;

            @mixin atMedium {

                margin-top: 70px;
                padding-left: 3%;

            }

        }

    }

    &__app-screen {

        width: 40%;

    }

    &__step {

        margin-bottom: 35px;

        @mixin atMedium {

            margin-bottom: 50px;

        }

        & div {

            color: $mainOrange;
            border: 2px solid $mainOrange;
            display: inline-block;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            text-align: center;
            padding: 5px;
            float: left;
            font-size: 130%;
            margin-right: 25px;

            @mixin atMedium {

                font-size: 150%;
                height: 55px;
                width: 55px;

            }

        }

        &:last-of-type {

            margin-bottom: 35px;

            @mixin atMedium {

                margin-bottom: 80px;

            }

        }

    }

}