.icon {

    &--big {

        font-size: 350%;
        display: block;
        color: $mainOrange;
        margin-bottom: 10px;
        text-align: center;

    }

    &--small {

        display: inline-block;
        width: 30px;
        color: $mainOrange;
        text-align: center;
        font-size: 120%;
        line-height: 120%;
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 10px;

    }

}

.ion-logo-facebook:hover {

    color: #3b5998;

}

.ion-logo-twitter:hover {

    color: #00aced;

}

.ion-logo-googleplus:hover {

    color: #dd4b39;

}

.ion-logo-instagram:hover {

    color: #517fa4;

}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-instagram {

    transition: color 0.2s;

}