.icon {

    &--big {

        font-size: 350%;
        display: block;
        color: $mainOrange;
        margin-bottom: 10px;
        text-align: center;

    }

    &--small {

        display: inline-block;
        width: 30px;
        color: $mainOrange;
        text-align: center;
        font-size: 120%;
        line-height: 120%;
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 10px;

    }

}

