.large-hero {

    &__header {

        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/images/hero.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: auto;
        padding-bottom: 80px;

        @mixin atMedium {

            height: auto;
            

        }

        @mixin atLarge {

            height: 100vh;
            padding-bottom: 0;

        }

    }

    &__main-nav {

        display: none;

        @mixin atMedium {

            float: right;
            list-style: none;
            margin-top: 55px;
            display: initial;
    
            & li {
    
                display: inline-block;
                margin-left: 40px;
    
                & a:link, & a:visited {
    
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 90%;
                    padding: 8px 0;
                    border-bottom: 2px solid transparent;
                    transition: border-bottom 0.2s;
    
                }
    
                & a:hover, & a:active {
    
                    border-bottom: 2px solid $mainOrange;
    
                }
    
            }

        }

    }

    &__logo {

        height: 100px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;

        @mixin atMedium {

            float: left;

        }

        &--black {

            height: 60px;
            width: auto;
            display: none;
            margin-top: 5px 0;
            float: left;

        }

    }

    &__text-box {

        margin-top: 40px;
        padding: 0 2%;
        text-align: center;

        @mixin atMedium {

            text-align: left;

        }

        @mixin atLarge {

            position: absolute;
            width: 1140px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 0;
            padding: 0;

        }

    }

    &__sticky-nav {

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.98);
        box-shadow: 0 2px 2px #efefef;
        padding: 8px 0;
        z-index: 9999;

        & .large-hero__main-nav {

            margin-top: 20px;

            & li a:link, & li a:visited {

                color: #555;
                padding: 16px 0;

            }

        }

        & .large-hero__logo {

            display: none;

        }

        & .large-hero__logo--black {

            display: block;

        }

    }

}