.large-hero {

    &__header {

        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/images/hero.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;

    }

    &__main-nav {

        float: right;
        list-style: none;
        margin-top: 55px;

        & li {

            display: inline-block;
            margin-left: 40px;

            & a:link, & a:visited {

                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 90%;
                padding: 8px 0;
                border-bottom: 2px solid transparent;
                transition: border-bottom 0.2s;

            }

            & a:hover, & a:active {

                border-bottom: 2px solid $mainOrange;

            }

        }

    }

    &__logo {

        height: 100px;
        width: auto;
        float: left;
        margin-top: 20px;

    }

    &__text-box {

        position: absolute;
        width: 1140px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

}