.sign-up {

    &__box {

        background-color: #fff;
        border-radius: 5px;
        width: 90%;
        margin-left: 5%;
        box-shadow: 0 2px 2px #efefef;
        margin-bottom: 10px;

            @mixin atMedium {

                margin-bottom: 0;

            }

        & div {

            padding: 15px;
            border-bottom: 1px solid #e8e8e8;

        }

    }

    &__heading {

        background-color: #fcfcfc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }

    &__price {

        font-size: 300%;
        margin-bottom: 10px;
        font-weight: 300;
        color: $mainOrange;
        text-align: center;

        &--details {

            font-size: 80%;
            text-align: center;

        }

        & span {

            font-size: 35%;
            font-weight: 300;

        }

    }


    &__details {

        & ul {

            list-style: none;

            & li {

                padding: 5px 0;
            
            }

        }

    }

    &__btn {
        
        text-align: center;
        border: 0;
        
    }

    &__animated--pulse {

        animation-duration: 1s;

    }

}